In [23]:
from pandas_datareader import data

In [24]:
import datetime

In [39]:
start = datetime.datetime(2015 , 1,1)
end = datetime.datetime(2015 , 3,10)

In [40]:
df = data.DataReader(name = 'AAPL' , data_source='yahoo' ,start=start , end = end)

In [41]:
df

             High    Low   Open  Close       Volume  Adj Close
Date
2014-12-31 113.13 110.21 112.82 110.38  41403400.00     100.91
2015-01-02 111.44 107.35 111.39 109.33  53204600.00      99.95
2015-01-05 108.65 105.41 108.29 106.25  64285500.00      97.13
2015-01-06 107.43 104.63 106.54 106.26  65797100.00      97.14
2015-01-07 108.20 106.70 107.20 107.75  40105900.00      98.50
2015-01-08 112.15 108.70 109.23 111.89  59364500.00     102.29
2015-01-09 113.25 110.21 112.67 112.01  53699500.00     102.40
2015-01-12 112.63 108.80 112.60 109.25  49650800.00      99.87
2015-01-13 112.80 108.91 111.43 110.22  67091900.00     100.76
2015-01-14 110.49 108.50 109.04 109.80  48956600.00     100.38
2015-01-15 110.06 106.66 110.00 106.82  60014000.00      97.65
2015-01-16 107.58 105.20 107.03 105.99  78513300.00      96.89
2015-01-20 108.97 106.50 107.84 108.72  49899900.00      99.39
2015-01-21 111.06 108.27 108.95 109.55  48575900.00     100.15
2015-01-22 112.47 109.72 110.26 112.40  53796400.00     102.75
2015-01-23 113.75 111.53 112.30 112.98  46464800.00     103.28
2015-01-26 114.36 112.80 113.74 113.10  55615000.00     103.39
2015-01-27 112.48 109.03 112.42 109.14  95568700.00      99.77
2015-01-28 118.12 115.31 117.63 115.31 146477100.00     105.41
2015-01-29 119.19 115.56 116.32 118.90  84436400.00     108.69
2015-01-30 120.00 116.85 118.40 117.16  83745500.00     107.10
2015-02-02 119.17 116.08 118.05 118.63  62739100.00     108.45
2015-02-03 119.09 117.61 118.50 118.65  51915700.00     108.47
2015-02-04 120.51 118.31 118.50 119.56  70149700.00     109.30
2015-02-05 120.23 119.25 120.02 119.94  42246200.00     110.08
2015-02-06 120.25 118.45 120.02 118.93  43706600.00     109.15
2015-02-09 119.84 118.43 118.55 119.72  38889800.00     109.88
2015-02-10 122.15 120.16 120.17 122.02  62008500.00     111.99
2015-02-11 124.92 122.50 122.77 124.88  73561800.00     114.61
2015-02-12 127.48 125.57 126.06 126.46  74474500.00     116.06
2015-02-13 127.28 125.65 127.28 127.08  54272200.00     116.63
2015-02-17 128.88 126.92 127.49 127.83  63152400.00     117.32
2015-02-18 128.78 127.45 127.63 128.72  44891700.00     118.14
2015-02-19 129.03 128.33 128.48 128.45  37362400.00     117.89
2015-02-20 129.50 128.05 128.62 129.50  48948400.00     118.85
2015-02-23 133.00 129.66 130.02 133.00  70974100.00     122.06
2015-02-24 133.60 131.17 132.94 132.17  69228100.00     121.30
2015-02-25 131.60 128.15 131.56 128.79  74711700.00     118.20
2015-02-26 130.87 126.61 128.79 130.42  91287500.00     119.70
2015-02-27 130.57 128.24 130.00 128.46  62014800.00     117.90
2015-03-02 130.28 128.30 129.25 129.09  48096700.00     118.48
2015-03-03 129.52 128.09 128.96 129.36  37816300.00     118.72
2015-03-04 129.56 128.32 129.10 128.54  31666300.00     117.97
2015-03-05 128.75 125.76 128.58 126.41  56517100.00     116.02
2015-03-06 129.37 126.26 128.40 126.60  72842100.00     116.19
2015-03-09 129.57 125.06 127.96 127.14  88528500.00     116.69
2015-03-10 127.22 123.80 126.41 124.51  68856600.00     114.27

In [42]:
from bokeh.plotting import figure , show , output_file

In [43]:
df.index[df.Close > df.Open]

DatetimeIndex(['2015-01-07', '2015-01-08', '2015-01-14', '2015-01-20',
               '2015-01-21', '2015-01-22', '2015-01-23', '2015-01-29',
               '2015-02-02', '2015-02-03', '2015-02-04', '2015-02-09',
               '2015-02-10', '2015-02-11', '2015-02-12', '2015-02-17',
               '2015-02-18', '2015-02-20', '2015-02-23', '2015-02-26',
               '2015-03-03'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [44]:
hours_12 = 12*60*60*1000

In [45]:
p = figure(x_axis_type = 'datetime' , width = 1000 , height = 300)
p.title.text = 'Candlestick Chart'

p.rect(df.index[df.Close > df.Open] , (df.Open + df.Close) / 2  ,
       hours_12 , abs(df.Open - df.Close) , fill_color = 'green' , line_color = 'black')

p.rect(df.index[df.Close < df.Open] , (df.Open + df.Close) / 2  ,
       hours_12 , abs(df.Open - df.Close) , fill_color = 'red' , line_color = 'black')


p.segment(df.index , df.High , df.index , df.Low , color = 'black')

output_file('CS.html')
show(p)